<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /siwes-lasu-logbook/
RewriteRule ^week/([0-9]+)$ week.php?id=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)\/?$ $1.php [NC]

</IfModule>
