body {
    line-height: 1.7;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #696c6d;
    font-size: 14px;
  }
  h4, .h4 {
    font-size: 22px;
    color: #1c1d1f;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }

  header {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}  
h3{
    color: black;
    text-align: center;
    font-weight: 900;
}
.weeks div  {
    color:#696c6d ;
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(84, 127, 245, 0.1);
}
.weeks div:hover{
    background-color: #acacac ;
}
.weeks{
    margin: 40px;
    margin-left: 150px;
}